* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-color: #000000;
}

.background-img {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    height: 100vh;
}

.logo {
    position: relative;
    left: 85px;
    bottom: 350px;
    letter-spacing: 3rem;
    font-family: "Anta";
    width: 33vw;
    color: #e5e5e5;
    font-size: 3rem;
}

.formContent {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", "sans serif";
    width: auto;
    height: 100vh;
    background-color: #14213d;
}

.top {
    color: #e5e5e5;
    padding-left: 60px;
    width: 66vw;
    line-height: 2;
    background-color: #14213d;
    box-shadow: 0 3px 8px black inset;
}

.top > p {
    width: 50vw;
}

p span {
    font-family: "Anta";
    letter-spacing: 3px;
}

.form {
    display: flex;
    height: max-content;
    width: auto;
    font-family: "Anta";
    color: #e5e5e5;
    background-color: #263149;
    margin: 0 auto;
    box-shadow: 0 3px 8px black;
}

input {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 18px;
    border: 1px solid #e5e5e5;
}

#numberEx {
    font-size: smaller;
}
input:focus {
    border: 2px solid rgb(255, 145, 0);
    box-shadow: 3px 3px 5px #000000;
    outline: none;
}

label {
    display: block;
    margin-left: 2px;
}

.left-side,
.right-side {
    padding: 10px;
    margin-left: 50px;
}

.right-side {
    margin-top: 29px;
}

.submit {
    margin: 60px;
    padding: 20px 60px;
    font-size: medium;
    font-family: "anta";
    letter-spacing: 0.5rem;
    border-radius: 1rem;
    transition: all 0.5s;
}

.login {
    background-color: #14213d;
    box-shadow: 0 3px 8px black inset;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 145, 0);
}

div span {
    color: #e5e5e5;
}

div span a {
    text-decoration: none;
    color: lightslategray;
}

a:hover {
    text-decoration: underline;
}
/* 
.error {
    border: 2px solid red;
}
.success {
    border: 2px solid green;
} */

footer {
    color: #e5e5e5;
    text-align: center;
}
